<%- include('./partials/header.ejs') %>


    <!-- Main Content -->
    <div class="main2">
        <p>GatherTales is the best place to discover, network, and share information about 
            a wide variety of events across many different categories. Whether you're seeking
            unique experiences or an GatherTales brings together a diverse community of event
            lovers in one organizer looking to promote your events, GatherTales brings together
            a diverse community of event enthusiasts in one vibrant platform.</p>
    </div>

        

    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    